.DateMargin{
    text-align: left;
    margin-top: 3em;
    margin-left: 3em;
}
.DateMargin2{
    margin-left: 3em;
}
.SearchMargin{
    margin-top: 2em;
    margin-left: 3em;
}
.WorkingList{
    margin-top: 2em;
}
.listEmployeeWorking{
    margin: 0%;
}
.listEmployeeWorking ul{
    list-style-type: none;
margin: 0%;

}
.listEmployeeWorking li{
width: 70%;
margin-top: 0%;

}

.BlueButton{
    background-color: #3F72AF;
    color: white;

    margin:0 3em;
    padding: 0.5em 3em;
    border-radius: 0.5em;
    border: 0.2em solid #3F72AF;
    font-weight: 600;
}
.GenerateButton{
    position: absolute;
    right: 7em;
    bottom: 7em;
}
.btn-primary {
    background: #3F72AF;
    border-color: #3F72AF;
}