/* .header{
    position: relative;
    width: auto;
    height: 5em;
    padding: 1.5em 0em;
    margin: 0;
    border-bottom: 0.1em solid lightGray;
}

.logo{
    height : 1.74em;
    width : 7.74em;
    position: absolute;
    left: 5em;
}

.nav{
    list-style-type: none;
    position: relative;
    float:right;
    right:10em;
}

.nav a {
    color: gray;
    text-decoration: none;
}
.nav a:hover{
    color: gray;
}

.list{
    padding:0 2em;
}

.active{
    color:red;
    background-color: black;
}

.gear{
    width:1em;
    height:1em;
    background-color: white;
} */

.header{
    padding: 0 0;
    border-bottom: 0.1em solid lightGray;
}

.header a{
    display: inline-block;
    text-decoration: none;
    padding:2em 3em;
    margin:0 0em;
    color:gray;
}

.active{
    font-weight: 800;
}

.logo{
    height : 1.74em;
    width : 7.74em;
    margin:0 10em 0 0;
    position:fixed;
    top:2.7em;
    left:5em;
}

.gear{
    width:1em;
    height:1em;
}