.header{
    padding: 0 0;
    border-bottom: 0.1em solid lightGray;
}

.header a{
    display: inline-block;
    text-decoration: none;
    padding:2em 3em;
    margin:0 0em;
    color:gray;
}

.active{
    font-weight: 800;
}

.logo{
    height : 1.74em;
    width : 7.74em;
    margin:0 10em 0 0;
    position:fixed;
    top:2.7em;
    left:5em;
}

.gear{
        width:1em;
        height:1em;
    } 