.Body {
    position: relative;
    /*     background-color: lightblue; */
    width: auto;
    height: 40em;
}

.ButtonsDiv{
    /*     background-color: lightgray; */
    position: relative;
    top:1em;
}

.ButtonsDiv button{
    margin:0 3em;
    padding: 0.5em 3em;
    border-radius: 0.5em;
    border: 0.2em solid #3F72AF;
    font-weight: 600;
}
.ButtonBehov{

    color: white;
    background-color: #3F72AF;
    font-weight: 600;
    border-radius: 0.5em;
    border: 0px;

    margin: 5% 10% 3% 10%;

    padding: 0.5em 3em;
}
.ButtonTyp {
    color: white;
    background-color: #3F72AF;
    font-weight: 600;
    border-radius: 0.5em;
    border: 0px;

    margin: 5% 10% 3% 10%;

    padding: 0.5em 4.4em;
}