.Body {
    position: relative;
/*     background-color: lightblue; */
    width: auto;
    height: 40em;
}

.ButtonsDiv{
/*     background-color: lightgray; */
    position: relative;
    top:1em;
}

.ButtonsDiv button{
    margin:0 3em;
    padding: 0.5em 3em;
    border-radius: 0.5em;
    border: 0.2em solid #3F72AF;
    font-weight: 600;
}

.AllButton{
    background-color: white;
    color:#3F72AF;
}
.AllButton :hover{
    background-color: #3F72AF;
}
.btn-outline-primary:hover {
    background-color: #3F72AF;
    border-color: #3F72AF;
}
.NewButton{
    background-color: #3F72AF;
    color: #3F72AF ;
}

/* .btn-primary:hover {
    background-color: white;
    border-color: #3F72AF;
    color: #3F72AF;
} */

.StartImg{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 40em;
}